body
{
    font-size: 25px;
    font-family: Forte;
    background-image: url(https://wallpaperaccess.com/full/1567831.jpg);
    background-attachment: fixed;
}
h3{
    font-size: 40px;
    font-family:Forte;
}
bg{
    background-color: aqua;
}